#head{
    width: 100%;
    padding: 2%;
    background-color: rgb(0, 255, 255);
}
#row1,#row2,#row3,#row4{
    font-size: 50%;
}
#col1,#col2,#col3{
    background-color: antiquewhite;
    margin: 2%;
    padding: 2%;
}